@charset "UTF-8";

body{
   display: grid;
    background-color:#EBAF17  ;
    place-items: center;
    height: 100vh;
   
 }

 #box>a{
  
    margin-left: 40px;
    font: normal 12pt arial;
    color: black;
    
    
    }
    
    a:hover{
        text-decoration: underline;
    }
    a{
      text-decoration: none;  
    }



        #box{
        background-color:#F5582C ;   
        width: 400px;
        height: 400px;
       
    }

    #box>p{
        text-align: center;
        font: normal 12pt arial;
        color: black;
        margin-top: 40px;
    }
    p{
     
      text-align: center;
        font: normal 18pt arial;
        color: black;
        margin-top: 40px; 
    }
    
        
        

        
           
        
            #load{
                display: none;
                width: 20px;
                height: 20px;
                border: 10px solid;
                border-radius: 50%;
                border-top-color: transparent;
                margin: 0 auto;
                margin-top: -24px;
                color: #ffb801;
                animation: load .9s linear infinite;
           
            }
        
            @keyframes load {
                to{
                 transform: rotate(360deg);   
                }
                
            }

            label{
                font: normal 12pt Arial;   
                margin-left: 20px;
                }
                
                #usuario{
                 margin-top: 8px;
                 margin-bottom: 10px; 
                 margin-left: 110px; }
                 
                #senha{
                 margin-left: 110px;    
                 margin-bottom: 10px;
                 }
                
                
                 
                
                 
                
                 #checkbox{
                 margin-left: 189px;   
                 margin-top: -2px;
                 margin-bottom: 20px;
                }
                 
                
               

                 h1 {
                    text-align: center;
                    margin-top: 100px;
                    margin-bottom: 100px;}


                    #enviar{
                    margin-top: 8px;
                    margin-left: 165px;
                    font-size: 16px;
                    }