@charset "UTF-8";

*{
margin: 0;
padding: 0;
border-style: border-box;   
}

body{
    display: grid;
    background-color:#EBAF17  ;
    place-items: center;
    height: 100vh;
}

#box>a{
    margin-left: 40px;
    font: normal 12pt arial;
    color: black;
}

a:hover{
    text-decoration: underline;
}

a{
    text-decoration: none;  
}



#box{
    opacity: 0;
    background-color:#F5582C ;   
    width: 400px;
    height: 400px;
    /*transform: translateX(-401px);*/
    border-radius: 20px;
}

#box>p{
    position: relative;
    text-align: center;
    font: normal 12pt arial;
    color: black;
    margin-top: 160px;
}

p{
    text-align: center;
    font: normal 18pt arial;
    color: black;
    margin-top: 40px; 
}


#load{
    
    display: none;
    width: 20px;
    height: 20px;
    border: 10px solid;
    border-radius: 50%;
    border-top-color: transparent;
    margin: 0 auto;
    margin-top: 13px;
    color: #ffb801;
    animation: load .9s linear infinite;
}

#box.animar{
animation-name: slide;
animation-duration: 4s;
animation-timing-function: ease ;
animation-fill-mode: forwards;
}


@keyframes slide {
   to{
      opacity: 1;
      transform:translateX(0px)  
    }
    
}



img{
position: absolute;
margin-left: 300px;
margin-top: 85px;
cursor: pointer;
}

#senha{
 z-index: 10;   
 margin-top: 20px;
}
#usuario{
    position: absolute;
    margin-top: 70px;
    margin-bottom: 10px; 
    margin-left: 110px; 
}
             
#senha{
    position: absolute;
    margin-left: 110px;  
    margin-top: 100px;  
    margin-bottom: 10px;
}
                
                
                 
                
                 
                
#checkbox{
    margin-left: 189px;   
    margin-top: 4px;
    margin-bottom: 20px;
}
                 
                
               

h1{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}


#enviar{
    margin-top: 50px;
    margin-left: 165px;
    font-size: 16px;
}

#msgError{
    text-align: center;
    color: #0C82F7;
    background-color: aqua;
    padding: 10px;
    border-radius: 4px;
    display: none;
    }
    
    #msgSucess{
    text-align: center;
    color: white;
    background-color: green;
    padding: 10px;
    border-radius: 4px;
    display: none;
    
    }

    #labelUsuario{
    position: absolute;
    font: normal 12pt arial;
    margin-left: 165px;
    margin-top: 60px;
    
    
  
    
    }

    #labelSenha{
    position: absolute;
    font: normal 12pt arial;
    margin-left: 170px;
    margin-top: 90px;

    }
    
    



        
@keyframes load {
to{
    transform: rotate(360deg);   
}
            
}

            
