h1{
text-align: center;    
margin-top: 100px;
}
h2{
text-align: center;   
padding-top: 80px;
width: 100px;
margin: 0 auto;
}

a{
text-decoration: none;
color: black;   

}

a:hover{
text-decoration: underline;
color: white;    
}

.fundo>p{
    margin-top: 90px;
    margin-bottom: 20px ;
    padding-top: 90px;
    padding-left: 10px;
}
    
.agrad{
     background-color: #EBAF17; 
     
}

.fundo{
    background-color: #F5582C;   
    width: 400px;
    height: 400px;
    margin: 0 auto;
    border-radius: 5px;
    align-items: center;
}