body,
ul,
li,
p {
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-size: 1.2rem;
  font-family: Arial;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #0C82F7;
}

.header a {
  text-decoration: none;
  color: black;
}

h1 {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

p {
  margin-left: 70px;
  margin-bottom: 10px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu li {
  margin-left: 10px;
}

.menu li a {
  display: block;
  padding: 10px;
}

.menu li
li > a:hover {
  background-color: #F5582C;
  -webkit-transition: 3s;
  transition: 3s;
}

img {
  display: block;
}

h2 {
  font: normal 22pt arial;
  text-align: center;
  margin-bottom: 80px;
}

div > p {
  -webkit-animation: fade 2s ease forwards;
          animation: fade 2s ease forwards;
  opacity: 0;
}

.text-reveal {
  -webkit-animation: text-reveal 2s ease forwards;
          animation: text-reveal 2s ease forwards;
  margin: 0 auto;
  width: 300px;
  opacity: 1;
}

#obs > p {
  margin-top: 20px;
  margin-bottom: 20px;
}

.grid1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  max-width: 100%;
  margin: 0 auto;
  row-gap: 40px;
  background-color: #EBAF17;
}

.grid1 > div {
  margin: 0 auto;
  margin-top: 80px;
}

@-webkit-keyframes text-reveal {
  from {
    -webkit-transform: translateX(-101%);
            transform: translateX(-101%);
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes text-reveal {
  from {
    -webkit-transform: translateX(-101%);
            transform: translateX(-101%);
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 868px) {
  .menu-icon {
    display: block;
    z-index: 10;
    margin-top: 25px;
  }
  nav ul {
    position: fixed;
    top: 0;
    right: 0;
    width: 60%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.6s ease-in;
    transition: -webkit-transform 0.6s ease-in;
    transition: transform 0.6s ease-in;
    transition: transform 0.6s ease-in, -webkit-transform 0.6s ease-in;
    background-color: #B33102;
  }
  nav ul.open {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  nav ul li {
    margin: 10px 0;
  }
}
/*# sourceMappingURL=prestigio.css.map */