$input-color: #9EEF41;
$label-color: #E2E1E3;
$focus-bg: #65AE11;
$warning-color:#d62828;
$sucess-color: #4f772d;
$header-bg: #453F49;
$button-seconday-color:#1B4F13;
$main-bg:#5E5962;
$li-bg:#89848c;
