@charset "UTF-8";

body,
ul,
li,
p {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial;
}

header{
background-color: #5F5FC2;
width: 100%;
height: 150px;
display: flex;
justify-content: space-between;
align-items: center;
flex-wrap: wrap;

}

h1{
  color: #C1C1F4;  
  margin-left: 15px;
  font: normal 45pt arial;
 
}

#menu{
display: flex;   
}

ul li{
color: #C1C1F4;
margin-right: 15px;  
 
}

ul{
    display: block;     
}


#politica{
    background-color: #5F5FC2;
    width: 100%;
    margin-top: 700px;
    margin-bottom: 100px;
  
}

#e-sports{
    background-color: #5F5FC2;
    width: 100%;
    margin-bottom: 100px;
   
}


#esportes{
    background-color: #5F5FC2;
    width: 100%;
   
}


div>p{
text-align: center; 
margin-top: 20px;  
}

h2{
text-align: center; 
width: 100%;
background-color: red;  
}

.menu-icon{
display: none;
}

img{
display: block;    
}

.grid{
display: grid;
grid-template-columns: repeat(3, 1fr);
max-width: 1024px;
grid-gap: 20px;
row-gap: 60px;
margin-left: 15px;





}
.grid > div{
margin-top: 40px; 

}



.destaque{
padding-top: 80px;   
grid-column:1/2 ;
grid-row: 1/5;
display: block;
}
    
    



.grid>.linha {
 color: black;
 width: 0px;
 height: 200px;   
}



a{
text-decoration: none;   
color: black; 
}

a:hover{
transition: 3s ;
background-color: black; 
text-decoration: underline;
color: white;   
}

.text-reveal{
position: relative;
overflow: hidden;
}

.text-reveal::after{
animation: text-reveal 4s ease forwards;  
background-color: #B33102;
content: '';
display: block;
position: absolute;
bottom: 0;
left: 0;
right: 0;
top: 0;
  
}

div>a>img{
position: relative;   
border-radius: 5px ;  
;  
transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

div>a>img::after{
content: '';
position: absolute;  
opacity: 0;
border-radius: 5px;
box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 3);  
transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
z-index: -1;
width: 100%;
height: 100%;
margin: 5rem;
}

div>a>img:hover{
transform: scale(1.10,1.10);
}


div>a>img:hover::after{
   opacity: 1; 
   
}



#busca{
position: absolute;
margin-top: 20px;
margin-left: 400px;
padding-top: 10px;
padding-bottom: 10px;    
}

#lupa{
position: absolute;    
margin-top: 15px;
margin-left: 530px;
}


p{
 animation: fade 2ms 1.0s forwards;   
 opacity: 0;
}

.content{
    height: 520px;
    width: 935px;
    border-radius: 20px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   
   
}

.navigation{
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    position: absolute;
   
}

.bar{
    width: 70px;
    height: 17px;
    border: 2px solid blue;
    margin: 6px;
    border-radius: 5px;
    cursor: pointer;
    transition: .6s;
    
}
.bar:hover{
  background-color: #Fff;  
}

.radio{
 display: none;   
}

.slides{
display: flex;
width: 500%;
height: 100%;
margin-top: -24px;
}

.slide{
 width: 20%;
 transition: .6s;
}

.slide img{
width: 100%;
height: 100%;
}

#slide1:checked ~ .s1{
 margin-left: 0 ;   
}

#slide2:checked ~ .s1{
    margin-left: -20% ;   
   }

   #slide3:checked ~ .s1{
    margin-left: -40% ;   
   }
   #slide4:checked ~ .s1{
    margin-left: -60% ;   
   }

   #slide5:checked ~ .s1{
    margin-left: -80% ;   
   }

   
   

@keyframes text-reveal {
    from{
    transform: translateX(-101%);
    }
    to{
    transform: translateX(101%);    
    }
}



@keyframes fade {
    to{
    opacity: 1;    
    }
}

  





@media(max-width:868px){
    .menu-icon {
        display: block;
        z-index: 10;
        margin-top: 25px
    }
    
    nav ul {
        position: fixed;
        top: 0;
        right: 0;
        width: 60%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transform: translateX(100%);
        transition: transform 0.6s ease-in;
        background-color: #B33102;
        z-index: 10;
    }
    
    nav ul.open {
        transform: translateX(0);
    }
    
    nav ul li {
        margin: 10px 0;
    }





}


 
