*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Banks';
  src: url('../../../../Assets/Font/Banks&MilesSingleLine.ttf');
}


body{
  font-family: 'Banks';
  width: 100%;
  height: 100vh;
}

header{
background-color: $header-bg;
height: 12.5rem;
display: flex;
align-items: center;
justify-content: space-between;
padding: 2.5rem;
}


nav{
  padding: 1.25rem;

ul{
  display: flex;
  gap: 1.25rem;
  align-items: center;
  justify-content: end;
  li{
    list-style: none;
    background-color: $li-bg;
    width: max-content;
    display: grid;
    place-items: center;
    padding: 0.75rem;
    border-radius: 50%;
    cursor: pointer;
   & img{
    width: 2.5rem;
    height: 2.5rem;
    object-fit: cover;
   }
  }
}

.avatar{
 width: 4.375rem; 
 height: 4.375rem;
 position: relative;
 display: grid;
 place-items: center;

 input[type='file']{
  display: none;
 }

 label[for='avatarInput']{
   font-size: 0.75rem;
   width: 3.75rem;
   text-align: center;
   margin: auto auto;
   cursor: pointer;
   position: absolute;
 }
 
 #avatar{
   position: absolute;
   width: 5.625rem;
   height: 5.625rem;
   border-radius: 50%;
   margin-top: 0;
   margin-left: 0;
 }

 p{
  a{
    text-decoration: none;
    color: $color-text;
    cursor: pointer;
    position: absolute;
    left: 14%;
    bottom: -48%;
    &:hover{
      text-decoration: underline;
    }
  }
 }
}
}


main{
  height: 100%;
  background-color: $main-bg;
  padding: 1.25rem;
  
  h1{
    color: $color-text;
  }

  & label:nth-child(6){
    display: block;
  }

  form{
    width: max-content;
    padding: 1.25rem;
    
    label{
      color: $color-text;
      width: max-content;
    }

    select{
      display: block;
      width: 12.5rem;
      height: 2rem;
      margin-top: 0.25rem; 
      margin-bottom: 0.5rem;
      border-radius: 0.25rem;
    }
    
    button{
      display: block;
      color: $dark-green ;
      background-color: $color-text;
      width: 11.25rem;
      height: 2rem;
      border-radius: 0.5rem ;
      border: 0.125rem solid $border-color;
      cursor: pointer;
      font-weight: 500;
      text-transform: uppercase;
      margin: auto auto;
      margin-bottom: 2.5rem;
      transition: .7s;
      margin-top: 1.25rem;
      &:hover{
        background-color: $dark-green;
        color: $color-text;
        border-color: $primary-color;
      }
    }
  
    input[type='text']{
      width: 12.5rem;
      height: 2rem;
      padding: 0.75rem;
      border-radius: 0.5rem;
      border: 0.125rem solid $header-bg;
      margin-bottom: 1.25rem;
      transition: .4s;
      display: block;
     }
     
     input:focus{
       background-color: $secondary-color;
       outline: 0.125rem solid $primary-color;
       border-color: $primary-color;
       color: $color-text;
     }
     .type-account{
      display: grid;
      grid-template-columns: repeat(2,100px);
      width: max-content;
      text-align: center;

      div{
        label:nth-child(1){
            width: max-content;
            display: block;
            text-align: center;
            margin: auto auto;
        }
        input[type='radio']{
          margin-bottom: 0.5rem;
        }
       }
     }
     
  }
  
  h2{
    color:$color-text;
    margin-bottom: 0.75rem;
  }
}

.transfers-containers{
  display: flex;
  gap: 0.75rem;

  .transfer-container{
    width: max-content;
    padding: 1.25rem;
    background-color: $header-bg;
    border-radius: 0.25rem;
    
    span{
      display: block;
      color: $color-text;
    }
  }
  
}



