*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
display: flex;
justify-content: space-between;
background-color: #000;
width: 100%;
height: 80px;
padding: 24px;
align-items: center;
position: absolute;
bottom: 16px;
left: 0;
}