* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-size: 1.2rem;
}

.container {
  display: -ms-grid;
  display: grid;
  place-items: center;
  background-color: #E1B253;
  width: 100%;
  height: 100vh;
}

.container a {
  text-decoration: none;
}

.container a:hover {
  text-decoration: underline;
}

.container a p {
  color: white;
  font-size: 28px;
}

.container #cadastro {
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 500px;
  height: 600px;
  background-color: red;
  border-radius: 20px;
  text-align: center;
  position: absolute;
}

.container #cadastro #msgError {
  display: none;
  width: 100%;
  background-color: aqua;
  border-radius: 20px;
}

.container #cadastro #msgSucess {
  display: none;
  width: 100%;
  background-color: green;
  border-radius: 20px;
  color: white;
}

.container #cadastro label, .container #cadastro input {
  display: block;
}

.container #cadastro img {
  position: relative;
  margin-left: 340px;
  margin-top: -76px;
  cursor: pointer;
}

.container #cadastro button {
  background-color: #E1B253;
  border-radius: 4px;
  padding: 5px;
  border: none;
  -webkit-transition: -webkit-filter 4s;
  transition: -webkit-filter 4s;
  transition: filter 4s;
  transition: filter 4s, -webkit-filter 4s;
}

.container #cadastro button:hover {
  -webkit-filter: brightness(0.2);
          filter: brightness(0.2);
  cursor: pointer;
}

#cadastro.hide {
  -webkit-animation-name: hide;
          animation-name: hide;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  overflow-y: hidden;
}

#cadastro.validate-error {
  -webkit-animation-name: nono;
          animation-name: nono;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
  -webkit-animation-iteration-count: 2;
          animation-iteration-count: 2;
}

@-webkit-keyframes nono {
  0%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  35% {
    -webkit-transform: translateX(-15%);
            transform: translateX(-15%);
  }
  70% {
    -webkit-transform: translateX(15%);
            transform: translateX(15%);
  }
}

@keyframes nono {
  0%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  35% {
    -webkit-transform: translateX(-15%);
            transform: translateX(-15%);
  }
  70% {
    -webkit-transform: translateX(15%);
            transform: translateX(15%);
  }
}

@-webkit-keyframes hide {
  from {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    opacity: 0;
    -webkit-transform: translateY(100vh);
            transform: translateY(100vh);
  }
}

@keyframes hide {
  from {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    opacity: 0;
    -webkit-transform: translateY(100vh);
            transform: translateY(100vh);
  }
}
/*# sourceMappingURL=cadastro.css.map */