@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  border-style: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#container {
  width: 100%;
  height: 100vh;
  background-color: #ffb801;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

#container a {
  text-decoration: none;
  font-size: 32px;
  color: white;
}

#container a:hover {
  text-decoration: underline;
}

#container #animar {
  padding: 10px;
  background-color: #E07A26;
}

#container #animar:hover {
  -webkit-filter: brightness(0.6);
          filter: brightness(0.6);
}

#container #box {
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 400px;
  height: 380px;
  background-color: #7A4315;
  border-radius: 20px;
}

#container #box label {
  display: block;
  text-align: center;
  font-size: 20px;
  color: white;
}

#container #box .input-block {
  padding: 4px;
}

#container #box #mostrar {
  margin-left: 280px;
  margin-top: -90px;
  cursor: pointer;
}

#container #box #enviar {
  display: block;
  padding: 6px;
  font-size: 18px;
}

#container #load {
  display: none;
  width: 20px;
  height: 20px;
  border: 10px solid;
  border-radius: 50%;
  border-top-color: transparent;
  margin-top: 318px;
  margin-left: -14px;
  color: #ffb801;
  -webkit-animation: load .9s linear infinite;
          animation: load .9s linear infinite;
  position: absolute;
}

html {
  padding-bottom: 100px;
}

/*Animações*/
/*Animação Slide login*/
#box.animar {
  -webkit-animation-name: slide;
          animation-name: slide;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
}

@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-400%);
            transform: translateX(-400%);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-400%);
            transform: translateX(-400%);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

/**/
@-webkit-keyframes load {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes load {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/*Animação Squares*/
.squares li {
  width: 80px;
  height: 80px;
  background-color: red;
  display: block;
  position: absolute;
  bottom: -40px;
  -webkit-animation: up 2s infinite;
          animation: up 2s infinite;
}

@-webkit-keyframes up {
  from {
    opacity: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translateY(-800px) rotate(360deg);
            transform: translateY(-800px) rotate(360deg);
  }
}

@keyframes up {
  from {
    opacity: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translateY(-800px) rotate(360deg);
            transform: translateY(-800px) rotate(360deg);
  }
}

/**/
/*# sourceMappingURL=login.css.map */