*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Banks';
  src: url('../Assets/Font/Banks&MilesSingleLine.ttf');
}

span{
  width: max-content;
}

body{
  font-family: 'Banks';
}

header{
background-color: #453F49;
height: 300px;
}
ul{
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 10px;
  justify-content: end;
  margin-right: 50px;
}
li{
  list-style: none;
  background-color: #89848C;
  width: max-content;
  display: grid;
  place-items: center;
  padding: 12px;
  border-radius: 50%;
  cursor: pointer;
}
li img{
  width: 30px;
  height: 30px;
  object-fit: cover;
}

h1{
  text-align: center;
  margin: 20px auto;
  font-size: 4rem;
  width: 250px;
  color: #E2E1E3;
}

main{
  height: 100vh;
  background-color: #5E5962;
  padding: 20px;
}

label{
  display: inline-block;
  width: max-content;
}
input{
  display: block;
}

.forms div{
  display: none;
}

.container-saldo,
.container-operacoes,
.container-cartoes,
.container-investimentos{
display: none;
}

select{
  display: block;
}

#avatar{
  position: relative;
}
a{
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}
a:hover{
  text-decoration: underline;
}
p a{
  position: absolute;
  right: 3%;
  top: 7%;
}
.inputs{
  display: none;
}

.container-cartoes{
  grid-template-columns: repeat(4,300px);
  gap: 12px;
}

.container-cartao{
  width: 300px;
  height: 300px;
  margin-bottom: 12px;
  margin-top: 30px;
}

.container-cartao img{
  width: 200px;
  height: 200px;
}

.container-cartao .nome,
.container-cartao .saldo,
.container-cartao .text{
  display:block;
  color: #E2E1E3;
}

.container-cartao .nome{
  margin-bottom: -30px;
}

.container-cartao .text{
  margin-top: -30px;
}



