$g1:rgba(249, 249, 249, 1);
$g1-variation:rgba(249, 249, 249, 0.1);
$g2:rgba(34, 34, 34, 1);
$g2-variation:rgba(34, 34, 34, 0.5);
$g3:rgba(255, 163, 163, 1);
$g4:rgba(246, 67, 72, 1);
$g5:rgba(56, 29, 219, 1);
$a1:rgba(224, 224, 224, 1);
$a2:rgba(219, 132, 29, 1);
$a3:rgba(170, 101, 80, 1);
$a4:rgba(192, 0, 150, 1);
$a5:rgba(255, 205, 205, 1);
$a6:rgba(255, 190, 157, 1);
$a7:rgba(70, 70, 70, 1);
$a7-variation:rgba(92, 92, 92, 1);