*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style:none;
 
}

body{
  overflow-x: hidden;
}

#header{
  background: url('../assets/Imgs/Bg.svg');
  background-position:center;
  width:100%;
  text-align: center;
  padding-bottom:54px;

  .counter{
  
    .countdown-container{
      display: flex;
      justify-content: center;
      gap: 120px;
      .countdown-el{
        display: flex;
        align-items: start;
        p,span{
         width: max-content; 
         font-size: 144px;
         font-family: 'Montserrat';
         font-weight: 900;
         text-align: center;
         margin-top: 84px;
         color: transparent;
         -webkit-text-stroke-width: 2px;
         -webkit-text-stroke-color: $g1;
         opacity: 50%;
        }
      }
    }
  }

  nav{
    padding: 20px 60px 60px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    .logo{
      display: flex;
      align-items: center;
      gap: 8px;
    }
    ul{
      display: flex;
      align-items: center;
      gap: 20px;
      li{
      font-size: 14px;
      font-weight: 600; 
      color: $g1; 
      font-family: 'Montserrat';
        button{
        width: 258px;
        height: 56px;
        border-radius:8px ;
        border: none;
        font-size: 1rem;
        font-family: 'Montserrat';
        font-weight: 600;
        padding: 18px 34px;
        background-color: $g1;
        &:hover{
        cursor: pointer;
        }
        }
      }
    }
  
  }
  h1{
  color: $g1; 
  text-align: center;
  text-transform: capitalize;
  font-size: 4rem;
  font-family: 'Montserrat';
  }
  #focus{
  color: $g4;
  text-transform: capitalize;

  }
  p{
  font-family: 'Raleway';
  color: $g1;
  font-size: 24px;
  text-align: center;
  width: 950px;
  margin: 12px auto;
  }
  .buttons{
    width: 100%;
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    #start{
    width: 144px;
    height: 56px;
    color: $g1;
    background-color: $g4;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Monserrat';
    border-radius: 8px;
    border: none;
    &:hover{
      cursor: pointer;
    }
    }
    #show{
    width: 180px;
    background-color: transparent; 
    border: none;
    display: flex;
    align-items: center;
    gap:12px;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Montserrat';
    color: $g1;
    &:hover{
      cursor: pointer;
    }
    }
  }
}

main{
  width: 100%;
  display: grid;
  place-items: center;
  #us{
    background-color: $a7;
    width: 100%;
    display: grid;
    grid-template-columns: 700px 460px;
    align-items: center;
    padding-bottom: 60px;
    img{
      grid-column: 1;
    }
   div{
    h2{
      font-family: 'Montserrat';
      margin-bottom: 20px;
      color: $g1;
      font-size: 2rem;
    }
    p{
    font-family: 'Raleway';
    line-height: 24px;
    font-size: 1rem;
    color: $g1;
    width: 570px;
    }
    button{
      margin-top: 32px;
      width: 176px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 12px;
      font-weight: 600;
      border-radius: 8px;
      border: none;
      font-size: 1rem;
      font-family:'Montserrat';
      &:hover{
        cursor: pointer;
      }
    }
   }
  }

  #artists{
    display: grid;
    grid-template-columns: 460px 1fr;
    align-items: center;
    padding-bottom: 80px;
    background-color: $a7;
    width: 100%;
    padding-left: 100px;
    div{
      h2,p{
        color: $g1;
      }
      h2{
        font-size: 2rem;
        font-family: 'Montserrat';
        margin-bottom: 20px;
      }
      p{
        font-family: 'Raleway';
        font-size: 1rem;
        line-height: 24px;
        width: 470px;
      }
      button{
        margin-top: 32px;
        width: 283px;
        height: 60px;
        border-radius: 8px;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 12px;
        font-weight: 600;
        font-family: 'Montserrat';
        font-size: 1rem;
        &:hover{
        cursor: pointer;
        }
      }
    }
  }
  #programation{
    background-color: $a7-variation;
    width: 100%;
    padding-left: 100px;
    padding-top: 60px;
    padding-bottom: 60px;
    h2{
     font-family: 'Monserrat';
     font-size: 2rem;
     color: $g1;
     margin-bottom: 32px; 
    }
   
    .date-container{
    display: flex;
    gap: 24px;
    div{
      width: 300px;
      margin-bottom: 30px;
      padding-bottom: 16px;
      border-bottom: 2px solid $g2-variation;
      &:hover{
      cursor: pointer;
      }
     &.ativo{
      border-color:$g2 ;
      h3{
        color: $g2;
        opacity: 100%;
      }
      h5{
        opacity: 50%;
      }
     } 
     h3{
     font-size: 24px;
     font-family: 'Montserrat'; 
     color: $g1;
     opacity: 50%;
     margin-bottom: 4px;
     }
     h5{
     font-family: 'Montserrat'; 
     color: $g2;
     opacity: 20%;
     }   
    }
    }
    .container-grid{
    border-radius: 8px;
    border: 2px solid $g1;
    width: 1700px;
    header{
      padding: 0px 20px;
    ul{
    display: flex;
    width: 100%;
    padding: 20px 0px;
    gap: 100px;

    li{
    font-size: 24px;
    font-family: 'Raleway';
    font-weight: 700; 
    color: $g1;
    width: 100px;
    }
    li+li{
      margin-right: 220px;
    }
    }
    }
   
    .content-container{
      display: flex;
      margin-top: 12px;
      padding-bottom: 20px;
      position: relative;
      border-bottom: 2px solid black;
      width: 100%;
      padding: 0px 20px;
      &:nth-child(4){
        border-bottom: none;
      }

      &:nth-child(2){
      .show{
      top: 40px;
      }
      }
      &:nth-child(3){
        .show{
          top: 80px;
        }
      }
      span{
        font-family: 'Raleway';
        font-weight: 400;
        color: $g1;
      }
      .content{
        width: 370px;
        display: inline-block;
        font-family: 'Raleway';
        font-weight: 600;
        color: $g1;
        margin-left: 50px;
        margin-right: 50px;
        margin-bottom: 12px;
        line-height: 24px;
      }
      .artist{
        display: grid;
        grid-template-columns: 50px 1fr;
        gap: 12px;
        margin-bottom: 4px;
        & div{
        span{
          display: flex;
        }
        span+span{
          margin-top: 16px;
        }
        }
      }
      .show{
        position: absolute;
        right: 24px;
        display: flex;
        align-items: center;
        gap: 4px;
        top: 60px;
        &:hover{
          cursor: pointer;
        }
        .live{
        color: $g4;
        }
      }
    }
    }
  }
  #ticket{
  background-color: $a7-variation;
  width: 100%;
  padding-bottom: 60px;
  h2{
    text-align: center;
    margin-bottom: 32px;
    font-size: 34px;
    color: $g1;
  }
  .ticket-types{
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: center;
    .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $g1;
    border-radius: 8px;
    border-top: 3px solid $g2;
    width: 400px;
    height: 400px;
    padding: 20px 0px;
    h3{
    font-family: 'Montserrat';
    font-size: 24px;
    margin-bottom: 15px;
    }
    h1{
      font-family: 'Montserrat';
      font-size: 60px;
      margin-bottom: 30px;
    }
    span{
      font-family: 'Raleway';
      font-weight: 400;
      color: $g2;
      margin-bottom: 15px;
    }
    button{
      margin-top: 30px;
      font-family: 'Raleway';
      width: 161px;
      height: 56px;
      border-radius: 8px;
      border: 1px solid $g2;
      background-color: $g1;
      font-size: 16px;
      font-weight: 600;
      &:hover{
        cursor: pointer;
      }
    }
    &:nth-child(2){
      button{
      background-color: $g2;
      color: $g1;
      }
    }
    }
    .card-vip{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $g1;
    border-radius: 8px;
    border-top: 3px solid $g4;
    width: 400px;
    height: 400px;
    padding: 20px 0px;
    button{
      margin-top: 30px;
      font-family: 'Raleway';
      width: 161px;
      height: 56px;
      border-radius: 8px;
      border: 1px solid $g4;
      background-color: $g1;
      color: $g4;
      font-size: 16px;
      font-weight: 600;
      &:hover{
        cursor: pointer;
      }
    }
    h3{
      font-family: 'Montserrat';
      font-size: 24px;
      margin-bottom: 15px;
      }
      h1{
        font-family: 'Montserrat';
        font-size: 60px;
        margin-bottom: 30px;
      }
      span{
        font-family: 'Raleway';
        font-weight: 400;
        color: $g2;
        margin-bottom: 15px;
      }
    }
  }
  }
  #investors{
    background-color: $a7-variation;
    width: 100%;
    padding-bottom: 60px;
    display: grid;
    text-align: center;
    place-items: center;
    h2{
      margin-bottom: 60px;
      font-family: 'Montserrat';
      font-size: 34px;
      color: $g1;
    }
    #investors-container{
      display: grid;
      grid-template-columns: repeat(4,200px);  
      row-gap: 60px;
      column-gap: 130px;
      place-content: center;
      margin-bottom: 80px;
      align-items: center;
    }
    button{
    font-size: 16px;
    font-family: 'Montserrat';
    font-weight: 600;
    width: 260px;
    height: 56px;
    background-color: $g1;
    border-radius: 8px;
    border: none;
    text-align: center;
    &:hover{
      cursor: pointer;
    }
    }
  }

  #reports{
    display: flex;
    gap: 20px;
    align-items: center;
    width: 100%;
    padding-bottom: 250px;
    background-color: $a7-variation;
    .report{
    background-color: $a7;
    padding: 40px 20px;
    width: 770px;
    height: 232px;
    &:nth-child(1){
    margin-left: -226px;
    opacity: 10%;
    position: relative;
    .avatar{
    text-align: center;
    position: absolute;
    top: 110%;
    left: 50%;  
    }
    }
    &:nth-child(2){
    margin-top: -20px;
    position: relative;
    .avatar{
      left: 45%;
      text-align: center;
      position: absolute;
      top: 100%;
    }
    }
    &:nth-child(3){
      position: relative;
      opacity: 10%;
    .avatar{
      position: absolute;
      top: 100%;
      left: 0%;
      left: 50%;
      text-align: center;      
    }  
    }
    p{
    width: 650px;
    margin: auto auto;
    color: $g1;
    font-family: 'Raleway';
    opacity: 70%;
    text-align: center;
    }
    h4{
    font-family: 'Montserrat';
    font-size: 20px;  
    color: $g1;
    }
    span{
      color: $g1;
      font-family: 'Raleway';
    }
    #right{
    position: absolute;  
    right: 20px;
    }
    }
  }

  #gallery{
  width: 100%;
  background-color: $a7-variation;
  height: max-content;
  position: relative;
  padding-bottom: 30px;
  h2{
  color: $g1;
  font-size: 34px;
  font-family: 'Montserrat';
  position: relative;
  text-align: center;
  margin-top: 140px;
  }
  .bg{
  padding-top: 30px;
  width: 100%;
  height: 400px;
  background:linear-gradient(rgba(252, 82, 82,0.5),
  rgba(252, 82, 82, 0)) ; 
  position: absolute;
  opacity: 40%;
  text-align: center;
  img{
  text-align: center;
  width:300px;
  }
  }
  .gallery-container{
    display: flex;
    gap: 30px;
    padding-top: 32px;
    margin-left: -25px;
    position: relative;
   
    
    #left{
      position: absolute;
      left: 7%;
      top: 30%;
      z-index: 1000;

      background-color: $g1;
      padding: 12px;
      border-radius: 50%;
      &:hover{
        cursor: pointer;
      }      
    }

    #right{
    position: absolute;
    top: 30%;
    right: 16%;
    z-index: 1000;
    background-color: $g1;
      padding: 12px;
      border-radius: 50%;
      &:hover{
        cursor: pointer;
      }   
    }
    .metric-container{
      width: max-content;
      height: max-content;
      position: relative;
      display: flex;
      flex-direction:column;
      align-items: start;
      padding: 0;
      &:nth-child(3){
        width: 357px;
        opacity: 50%;
      }
      &:nth-child(7){
        opacity: 50%;
      }
    
    .photo{
    width: 370px;
    height: 370px;
    text-align: start;
    display: flex;
    justify-self: start;
    }
      .metrics{
      display: flex;
      gap: 8px;
      align-items: center;
      margin-top: 12px;
      span{
        width: max-content;
        margin-top: 0;
      }
      img:hover{
        cursor: pointer;
      }
      }
      p,span{
      width: 360px;
      font-family: 'Raleway';
      margin-top: 12px;
      color: $g1;
      line-height: 24px;
      font-size: 16px;
      }
    }
  }
  }
  #contact{
  width: 100%;
 .contact-container{
  width: 100%;
  display: flex;
  .column1{
    padding-top:120px;
    padding-left: 80px;
    width: 845px;
    height: 662px;
    background-color: $g2;
    position: relative;
    h2{
      font-family: 'Montserrat';
      font-size: 34px;
      margin-bottom: 126px;
      color: $g1;
    }
    #shape{
    position: absolute;
    right: 0;
    bottom: 0;
    }
    div{
    color: $g1;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 42px;
    font-family: 'Montserrat';
    font-weight: 600;
    }
 }
 .column2{
   background-color: $a7-variation;
   width: 100%;
   padding-top: 139px;
   padding-left: 130px;
   position: relative;
   
   form{
    width: max-content;
   }
   h3{
   margin-bottom: 90px; 
   font-family: 'Montserrat';
   font-size: 24px;
   color: $g2;
  }
   input{
   width: 570px;
   background-color: transparent;
   border: none;
   border-bottom: 1px solid $a1;
   padding: 8px;
   margin-top: 8;
   margin-bottom: 30px;
   color: $g1;
   &:focus{
    border: none;
    outline: none;
    border-bottom: 1px solid $a4; 
   }
   }
   label{
   display: block;
   font-family: 'Raleway';
   color: $g1;
   font-size: 12px;
   font-weight: 600;
   }
   button{
   display: block;
   margin-top: 40px;
   width: 100%;
   height: 56px;
   background-color: $g4;
   border-radius: 8px;
   color: $g1;
   font-family: "Montserrat";
   font-size: 1rem;
   font-weight: 600;
   border: none;
   }
   #shape2{
    position: absolute;
    right: 18%;
    bottom: 0;
   }
 }  
 }
 
  }

  footer{
    display: flex;
    align-items: center;
    background-color: $g2;
    width: 100%;
    height: 91px;
    justify-content: space-around;
    span{
    margin-left: 64px;
    opacity: 30%;
    color: $g1;
    font-size: 12px;
    font-family: 'Raleway';
    }
    div{
    &:nth-child(1){
    margin-left: -580px;
    img:hover{
      cursor: pointer;
      }
    }
    &:nth-child(2){
    display: flex;
    gap: 30px;
    margin-left: -1000px;
    img:hover{
    cursor: pointer;
    }
    }
    
    }
  }
}