*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style:none;
}

#header{
  background: url('../assets/Imgs/Bg.svg');
  background-position:center;
  width:100%;
  padding-bottom:60px;
  nav{
    padding: 20px 60px 60px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    .logo{
      display: flex;
      align-items: center;
      gap: 8px;
    }
    ul{
      display: flex;
      align-items: center;
      gap: 20px;
      li{
      font-size: 14px;
      font-weight: 600; 
      color: $g1; 
      font-family: 'Montserrat';
        button{
        width: 258px;
        height: 56px;
        border-radius:8px ;
        border: none;
        font-size: 1rem;
        font-family: 'Montserrat';
        font-weight: 600;
        padding: 18px 34px;
        background-color: $g1;
        &:hover{
        cursor: pointer;
        }
        }
      }
    }
  }
  h1{
  color: $g1; 
  text-align: center;
  text-transform: capitalize;
  font-size: 4rem;
  font-family: 'Montserrat';
  }
  #focus{
  color: $g4;
  text-transform: capitalize;

  }
  p{
  font-family: 'Raleway';
  color: $g1;
  font-size: 24px;
  text-align: center;
  width: 950px;
  margin: 12px auto;
  }
  .buttons{
    width: 100%;
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    #start{
    width: 144px;
    height: 56px;
    color: $g1;
    background-color: $g4;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Monserrat';
    border-radius: 8px;
    border: none;
    &:hover{
      cursor: pointer;
    }
    }
    #show{
    width: 180px;
    background-color: transparent; 
    border: none;
    display: flex;
    align-items: center;
    gap:12px;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Montserrat';
    color: $g1;
    &:hover{
      cursor: pointer;
    }
    }
  }
}

main{
  width: 100%;
  display: grid;
  place-items: center;
  #us{
    background-color: $a7;
    width: 100%;
    display: grid;
    grid-template-columns: 700px 460px;
    align-items: center;
    padding-bottom: 60px;
    img{
      grid-column: 1;
    }
   div{
    h2{
      font-family: 'Montserrat';
      margin-bottom: 20px;
      color: $g1;
      font-size: 2rem;
    }
    p{
    font-family: 'Raleway';
    line-height: 24px;
    font-size: 1rem;
    color: $g1;
    width: 570px;
    }
    button{
      margin-top: 32px;
      width: 176px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 12px;
      font-weight: 600;
      border-radius: 8px;
      border: none;
      font-size: 1rem;
      font-family:'Montserrat';
      &:hover{
        cursor: pointer;
      }
    }
   }
  }

  #artists{
    display: grid;
    grid-template-columns: 460px 1fr;
    align-items: center;
    padding-bottom: 80px;
    background-color: $a7;
    width: 100%;
    padding-left: 100px;
    div{
      h2,p{
        color: $g1;
      }
      h2{
        font-size: 2rem;
        font-family: 'Montserrat';
        margin-bottom: 20px;
      }
      p{
        font-family: 'Raleway';
        font-size: 1rem;
        line-height: 24px;
        width: 470px;
      }
      button{
        margin-top: 32px;
        width: 283px;
        height: 60px;
        border-radius: 8px;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 12px;
        font-weight: 600;
        font-family: 'Montserrat';
        font-size: 1rem;
        &:hover{
        cursor: pointer;
        }
      }
    }
  }
  #programation{
    background-color: $a7-variation;
    width: 100%;
    padding-left: 100px;
    padding-top: 60px;
    padding-bottom: 60px;
    h2{
     font-family: 'Monserrat';
     font-size: 2rem;
     color: $g1;
     margin-bottom: 32px; 
    }
   
    .date-container{
    display: flex;
    gap: 24px;
    div{
      width: 300px;
      margin-bottom: 30px;
      padding-bottom: 16px;
      border-bottom: 2px solid $g2-variation;
      &:hover{
      cursor: pointer;
      }
     &.ativo{
      border-color:$g2 ;
      h3{
        color: $g2;
        opacity: 100%;
      }
      h5{
        opacity: 50%;
      }
     } 
     h3{
     font-size: 24px;
     font-family: 'Montserrat'; 
     color: $g1;
     opacity: 50%;
     margin-bottom: 4px;
     }
     h5{
     font-family: 'Montserrat'; 
     color: $g2;
     opacity: 20%;
     }   
    }
    }
    .container-grid{
    border-radius: 8px;
    border: 2px solid $g1;
    width: 1700px;
    header{
      padding: 0px 20px;
    ul{
    display: flex;
    width: 100%;
    padding: 20px 0px;
    gap: 100px;

    li{
    font-size: 24px;
    font-family: 'Raleway';
    font-weight: 700; 
    color: $g1;
    width: 100px;
    }
    li+li{
      margin-right: 220px;
    }
    }
    }
   
    .content-container{
      display: flex;
      margin-top: 12px;
      padding-bottom: 20px;
      position: relative;
      border-bottom: 2px solid black;
      width: 100%;
      padding: 0px 20px;
      &:nth-child(4){
        border-bottom: none;
      }

      &:nth-child(2){
      .show{
      top: 40px;
      }
      }
      &:nth-child(3){
        .show{
          top: 80px;
        }
      }
      span{
        font-family: 'Raleway';
        font-weight: 400;
        color: $g1;
      }
      .content{
        width: 370px;
        display: inline-block;
        font-family: 'Raleway';
        font-weight: 600;
        color: $g1;
        margin-left: 50px;
        margin-right: 50px;
        margin-bottom: 12px;
        line-height: 24px;
      }
      .artist{
        display: grid;
        grid-template-columns: 50px 1fr;
        gap: 12px;
        margin-bottom: 4px;
        & div{
        span{
          display: flex;
        }
        span+span{
          margin-top: 16px;
        }
        }
      }
      .show{
        position: absolute;
        right: 24px;
        display: flex;
        align-items: center;
        gap: 4px;
        top: 60px;
        &:hover{
          cursor: pointer;
        }
        .live{
        color: $g4;
        }
      }
    }
    }
  }
  #ticket{
  background-color: $a7-variation;
  width: 100%;
  padding-bottom: 60px;
  h2{
    text-align: center;
    margin-bottom: 32px;
    font-size: 34px;
    color: $g1;
  }
  .ticket-types{
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: center;
    .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $g1;
    border-radius: 8px;
    border-top: 3px solid $g2;
    width: 400px;
    height: 400px;
    padding: 20px 0px;
    h3{
    font-family: 'Montserrat';
    font-size: 24px;
    margin-bottom: 15px;
    }
    h1{
      font-family: 'Montserrat';
      font-size: 60px;
      margin-bottom: 30px;
    }
    span{
      font-family: 'Raleway';
      font-weight: 400;
      color: $g2;
      margin-bottom: 15px;
    }
    button{
      margin-top: 30px;
      font-family: 'Raleway';
      width: 161px;
      height: 56px;
      border-radius: 8px;
      border: 1px solid $g2;
      background-color: $g1;
      font-size: 16px;
      font-weight: 600;
      &:hover{
        cursor: pointer;
      }
    }
    &:nth-child(2){
      button{
      background-color: $g2;
      color: $g1;
      }
    }
    }
    .card-vip{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $g1;
    border-radius: 8px;
    border-top: 3px solid $g4;
    width: 400px;
    height: 400px;
    padding: 20px 0px;
    button{
      margin-top: 30px;
      font-family: 'Raleway';
      width: 161px;
      height: 56px;
      border-radius: 8px;
      border: 1px solid $g4;
      background-color: $g1;
      color: $g4;
      font-size: 16px;
      font-weight: 600;
      &:hover{
        cursor: pointer;
      }
    }
    h3{
      font-family: 'Montserrat';
      font-size: 24px;
      margin-bottom: 15px;
      }
      h1{
        font-family: 'Montserrat';
        font-size: 60px;
        margin-bottom: 30px;
      }
      span{
        font-family: 'Raleway';
        font-weight: 400;
        color: $g2;
        margin-bottom: 15px;
      }
    }
  }
  }
  #investors{
    background-color: $a7-variation;
    width: 100%;
    padding-bottom: 60px;
    display: grid;
    text-align: center;
    place-items: center;
    h2{
      margin-bottom: 60px;
      font-family: 'Montserrat';
      font-size: 34px;
      color: $g1;
    }
    #investors-container{
      display: grid;
      grid-template-columns: repeat(4,200px);  
      row-gap: 60px;
      column-gap: 130px;
      place-content: center;
      margin-bottom: 80px;
      align-items: center;
    }
    button{
    font-size: 16px;
    font-family: 'Montserrat';
    font-weight: 600;
    width: 260px;
    height: 56px;
    background-color: $g1;
    border-radius: 8px;
    border: none;
    text-align: center;
    &:hover{
      cursor: pointer;
    }
    }
  }
}