header{
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #212121;
  align-items: center;
}

.prevAndNext{
  display: flex;
  gap: 12px;
  margin-bottom: 20px;
}

.container img{
  width: 40px;
}

.container img:hover{
  cursor: pointer;
}

.avatar{
  width: 40px;
  border-radius: 50%;
  border: 4px solid #08090A;
  display: grid;
  place-items: center;
}

.avatar img{
  width: 100%;
  border-radius: 50%;
}

.icons{
  display: flex;
  gap: 12px;
}

.icons .svg{
  width: 40px;
}
