$header-bg:#453F49;
$li-bg:#89848C;
$color-text:#E2E1E3;
$main-bg:#5E5962;
$bg-circle-progress:#fb8500;
$bg-after-progress:#252422;
$border-input:#453F49;
$border-button:#B9B6BB;
$primary-color:#9EEF41;
$secondary-color:#65AE11;
$dark-green:#1B4F13;
$form-bg:#211D24;

//Mixin progress e mixin texts Mixin after e before
//font-family,font-size,display,?color