$header-bg:#453F49;
$li-bg:#89848C;
$color-text:#E2E1E3;
$main-bg:#5E5962;
$bg-circle-progress:#fb8500;
$bg-after-progress:#252422;

//Mixin progress e mixin texts Mixin after e before
//font-family,font-size,display,?color