*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

@font-face {
  font-family: 'Banks';
  src: url('../../../../Assets/Font/Banks&MilesSingleLine.ttf');
}

body{
  font-family: 'Banks';
}

nav{
  padding: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}



header{
background-color: $header-bg;
height: 12.5rem;
}

ul{
  display: flex;
  gap: 1.25rem;
  align-items: center;
  padding: 0.625rem;
  justify-content: end;
  margin-right: 3.125rem;
  
  li{
    list-style: none;
    background-color: $li-bg;
    width: max-content;
    display: grid;
    place-items: center;
    padding: 0.75rem;
    border-radius: 50%;
    cursor: pointer;
    & img{
      width: 2.5rem;
      height: 2.5rem;
      object-fit: cover;
    }
  }
}

main{
  background-color: $bg-main;
  padding: 1.25rem;
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;

  h1{
    width: 100%;
    background-color: $bg-main;
    margin-bottom: 0.75rem;
    color: $primary-color;
  }

  h2{
    color: $primary-color;
    margin-bottom: 0.25rem;
  }
}

.avatar{
 width: 4.375rem; 
 height: 4.375rem;
 position: relative;
 display: grid;
 place-items: center;
 
 input[type='file']{
  display: none;
 }

 label[for='avatarInput']{
   font-size: 0.75rem;
   width: 3.75rem;
   text-align: center;
   margin: auto auto;
   cursor: pointer;
   position: absolute;
 }
 
 #avatar{
   position: absolute;
   width: 5.625rem;
   height: 5.625rem;
   border-radius: 50%;
   margin-top: 0;
   margin-left: 0;
 }
 
 p{
  a{
    position: absolute;
    left: 14%;
    bottom: -48%;
    text-decoration: none;
    color: $primary-color;
    cursor: pointer;
    &:hover{
      text-decoration: underline;
    }
  }
 }
}

.chart-container{
    width: 37.5rem;
    background-color: $chart-bg;
    padding: 1.25rem;
    border-radius: 0.25rem;
    margin-bottom: 2.5rem;
}

.rendimentos{
  display: flex;
  gap:  1.5rem;
  flex-wrap: wrap;
  
  .rendimento{
    margin-bottom: 0.75rem;
    background-color: $header-bg;
    width: max-content;
    padding: 1.25rem;
    border-radius: 0.25rem;
    
    h3{
      color: $primary-color;
    }

    span{
      color: $secondary-color;
      display: block;
    }
  }
}


