* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  overflow-x: hidden;
}

#header {
  background: url("../assets/Imgs/Bg.svg");
  background-position: center;
  width: 100%;
  text-align: center;
  padding-bottom: 54px;
}
#header .counter .countdown-container {
  display: flex;
  justify-content: center;
  gap: 120px;
}
#header .counter .countdown-container .countdown-el {
  display: flex;
  align-items: start;
}
#header .counter .countdown-container .countdown-el p, #header .counter .countdown-container .countdown-el span {
  width: max-content;
  font-size: 144px;
  font-family: "Montserrat";
  font-weight: 900;
  text-align: center;
  margin-top: 84px;
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgb(249, 249, 249);
  opacity: 50%;
}
#header nav {
  padding: 20px 60px 60px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
#header nav .logo {
  display: flex;
  align-items: center;
  gap: 8px;
}
#header nav ul {
  display: flex;
  align-items: center;
  gap: 20px;
}
#header nav ul li {
  font-size: 14px;
  font-weight: 600;
  color: rgb(249, 249, 249);
  font-family: "Montserrat";
}
#header nav ul li button {
  width: 258px;
  height: 56px;
  border-radius: 8px;
  border: none;
  font-size: 1rem;
  font-family: "Montserrat";
  font-weight: 600;
  padding: 18px 34px;
  background-color: rgb(249, 249, 249);
}
#header nav ul li button:hover {
  cursor: pointer;
}
#header h1 {
  color: rgb(249, 249, 249);
  text-align: center;
  text-transform: capitalize;
  font-size: 4rem;
  font-family: "Montserrat";
}
#header #focus {
  color: rgb(246, 67, 72);
  text-transform: capitalize;
}
#header p {
  font-family: "Raleway";
  color: rgb(249, 249, 249);
  font-size: 24px;
  text-align: center;
  width: 950px;
  margin: 12px auto;
}
#header .buttons {
  width: 100%;
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
#header .buttons #start {
  width: 144px;
  height: 56px;
  color: rgb(249, 249, 249);
  background-color: rgb(246, 67, 72);
  font-size: 20px;
  font-weight: 600;
  font-family: "Monserrat";
  border-radius: 8px;
  border: none;
}
#header .buttons #start:hover {
  cursor: pointer;
}
#header .buttons #show {
  width: 180px;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 20px;
  font-weight: 600;
  font-family: "Montserrat";
  color: rgb(249, 249, 249);
}
#header .buttons #show:hover {
  cursor: pointer;
}

main {
  width: 100%;
  display: grid;
  place-items: center;
}
main #us {
  background-color: rgb(70, 70, 70);
  width: 100%;
  display: grid;
  grid-template-columns: 700px 460px;
  align-items: center;
  padding-bottom: 60px;
}
main #us img {
  grid-column: 1;
}
main #us div h2 {
  font-family: "Montserrat";
  margin-bottom: 20px;
  color: rgb(249, 249, 249);
  font-size: 2rem;
}
main #us div p {
  font-family: "Raleway";
  line-height: 24px;
  font-size: 1rem;
  color: rgb(249, 249, 249);
  width: 570px;
}
main #us div button {
  margin-top: 32px;
  width: 176px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  font-weight: 600;
  border-radius: 8px;
  border: none;
  font-size: 1rem;
  font-family: "Montserrat";
}
main #us div button:hover {
  cursor: pointer;
}
main #artists {
  display: grid;
  grid-template-columns: 460px 1fr;
  align-items: center;
  padding-bottom: 80px;
  background-color: rgb(70, 70, 70);
  width: 100%;
  padding-left: 100px;
}
main #artists div h2, main #artists div p {
  color: rgb(249, 249, 249);
}
main #artists div h2 {
  font-size: 2rem;
  font-family: "Montserrat";
  margin-bottom: 20px;
}
main #artists div p {
  font-family: "Raleway";
  font-size: 1rem;
  line-height: 24px;
  width: 470px;
}
main #artists div button {
  margin-top: 32px;
  width: 283px;
  height: 60px;
  border-radius: 8px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  font-weight: 600;
  font-family: "Montserrat";
  font-size: 1rem;
}
main #artists div button:hover {
  cursor: pointer;
}
main #programation {
  background-color: rgb(92, 92, 92);
  width: 100%;
  padding-left: 100px;
  padding-top: 60px;
  padding-bottom: 60px;
}
main #programation h2 {
  font-family: "Monserrat";
  font-size: 2rem;
  color: rgb(249, 249, 249);
  margin-bottom: 32px;
}
main #programation .date-container {
  display: flex;
  gap: 24px;
}
main #programation .date-container div {
  width: 300px;
  margin-bottom: 30px;
  padding-bottom: 16px;
  border-bottom: 2px solid rgba(34, 34, 34, 0.1);
}
main #programation .date-container div:hover {
  cursor: pointer;
}
main #programation .date-container div.ativo {
  border-color: rgb(34, 34, 34);
}
main #programation .date-container div.ativo h3 {
  color: rgb(34, 34, 34);
  opacity: 100%;
}
main #programation .date-container div.ativo h5 {
  opacity: 50%;
}
main #programation .date-container div h3 {
  font-size: 24px;
  font-family: "Montserrat";
  color: rgb(249, 249, 249);
  opacity: 50%;
  margin-bottom: 4px;
}
main #programation .date-container div h5 {
  font-family: "Montserrat";
  color: rgb(34, 34, 34);
  opacity: 20%;
}
main #programation .container-grid {
  border-radius: 8px;
  border: 2px solid rgb(249, 249, 249);
  width: 1700px;
}
main #programation .container-grid header {
  padding: 0px 20px;
}
main #programation .container-grid header ul {
  display: flex;
  width: 100%;
  padding: 20px 0px;
  gap: 100px;
}
main #programation .container-grid header ul li {
  font-size: 24px;
  font-family: "Raleway";
  font-weight: 700;
  color: rgb(249, 249, 249);
  width: 100px;
}
main #programation .container-grid header ul li + li {
  margin-right: 220px;
}
main #programation .container-grid .content-container {
  display: flex;
  margin-top: 12px;
  padding-bottom: 20px;
  position: relative;
  border-bottom: 2px solid black;
  width: 100%;
  padding: 0px 20px;
}
main #programation .container-grid .content-container:nth-child(4) {
  border-bottom: none;
}
main #programation .container-grid .content-container:nth-child(2) .show {
  top: 40px;
}
main #programation .container-grid .content-container:nth-child(3) .show {
  top: 80px;
}
main #programation .container-grid .content-container span {
  font-family: "Raleway";
  font-weight: 400;
  color: rgb(249, 249, 249);
}
main #programation .container-grid .content-container .content {
  width: 370px;
  display: inline-block;
  font-family: "Raleway";
  font-weight: 600;
  color: rgb(249, 249, 249);
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 12px;
  line-height: 24px;
}
main #programation .container-grid .content-container .artist {
  display: grid;
  grid-template-columns: 50px 1fr;
  gap: 12px;
  margin-bottom: 4px;
}
main #programation .container-grid .content-container .artist div span {
  display: flex;
}
main #programation .container-grid .content-container .artist div span + span {
  margin-top: 16px;
}
main #programation .container-grid .content-container .show {
  position: absolute;
  right: 24px;
  display: flex;
  align-items: center;
  gap: 4px;
  top: 60px;
}
main #programation .container-grid .content-container .show:hover {
  cursor: pointer;
}
main #programation .container-grid .content-container .show .live {
  color: rgb(246, 67, 72);
}
main #ticket {
  background-color: rgb(92, 92, 92);
  width: 100%;
  padding-bottom: 60px;
}
main #ticket h2 {
  text-align: center;
  margin-bottom: 32px;
  font-size: 34px;
  color: rgb(249, 249, 249);
}
main #ticket .ticket-types {
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: center;
}
main #ticket .ticket-types .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(249, 249, 249);
  border-radius: 8px;
  border-top: 3px solid rgb(34, 34, 34);
  width: 400px;
  height: 400px;
  padding: 20px 0px;
}
main #ticket .ticket-types .card h3 {
  font-family: "Montserrat";
  font-size: 24px;
  margin-bottom: 15px;
}
main #ticket .ticket-types .card h1 {
  font-family: "Montserrat";
  font-size: 60px;
  margin-bottom: 30px;
}
main #ticket .ticket-types .card span {
  font-family: "Raleway";
  font-weight: 400;
  color: rgb(34, 34, 34);
  margin-bottom: 15px;
}
main #ticket .ticket-types .card button {
  margin-top: 30px;
  font-family: "Raleway";
  width: 161px;
  height: 56px;
  border-radius: 8px;
  border: 1px solid rgb(34, 34, 34);
  background-color: rgb(249, 249, 249);
  font-size: 16px;
  font-weight: 600;
}
main #ticket .ticket-types .card button:hover {
  cursor: pointer;
}
main #ticket .ticket-types .card:nth-child(2) button {
  background-color: rgb(34, 34, 34);
  color: rgb(249, 249, 249);
}
main #ticket .ticket-types .card-vip {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(249, 249, 249);
  border-radius: 8px;
  border-top: 3px solid rgb(246, 67, 72);
  width: 400px;
  height: 400px;
  padding: 20px 0px;
}
main #ticket .ticket-types .card-vip button {
  margin-top: 30px;
  font-family: "Raleway";
  width: 161px;
  height: 56px;
  border-radius: 8px;
  border: 1px solid rgb(246, 67, 72);
  background-color: rgb(249, 249, 249);
  color: rgb(246, 67, 72);
  font-size: 16px;
  font-weight: 600;
}
main #ticket .ticket-types .card-vip button:hover {
  cursor: pointer;
}
main #ticket .ticket-types .card-vip h3 {
  font-family: "Montserrat";
  font-size: 24px;
  margin-bottom: 15px;
}
main #ticket .ticket-types .card-vip h1 {
  font-family: "Montserrat";
  font-size: 60px;
  margin-bottom: 30px;
}
main #ticket .ticket-types .card-vip span {
  font-family: "Raleway";
  font-weight: 400;
  color: rgb(34, 34, 34);
  margin-bottom: 15px;
}
main #investors {
  background-color: rgb(92, 92, 92);
  width: 100%;
  padding-bottom: 60px;
  display: grid;
  text-align: center;
  place-items: center;
}
main #investors h2 {
  margin-bottom: 60px;
  font-family: "Montserrat";
  font-size: 34px;
  color: rgb(249, 249, 249);
}
main #investors #investors-container {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  row-gap: 60px;
  column-gap: 130px;
  place-content: center;
  margin-bottom: 80px;
  align-items: center;
}
main #investors button {
  font-size: 16px;
  font-family: "Montserrat";
  font-weight: 600;
  width: 260px;
  height: 56px;
  background-color: rgb(249, 249, 249);
  border-radius: 8px;
  border: none;
  text-align: center;
}
main #investors button:hover {
  cursor: pointer;
}
main #reports {
  display: flex;
  gap: 20px;
  align-items: center;
  width: 100%;
  padding-bottom: 250px;
  background-color: rgb(92, 92, 92);
}
main #reports .report {
  background-color: rgb(70, 70, 70);
  padding: 40px 20px;
  width: 770px;
  height: 232px;
}
main #reports .report:nth-child(1) {
  margin-left: -226px;
  opacity: 10%;
  position: relative;
}
main #reports .report:nth-child(1) .avatar {
  text-align: center;
  position: absolute;
  top: 110%;
  left: 50%;
}
main #reports .report:nth-child(2) {
  margin-top: -20px;
  position: relative;
}
main #reports .report:nth-child(2) .avatar {
  left: 45%;
  text-align: center;
  position: absolute;
  top: 100%;
}
main #reports .report:nth-child(3) {
  position: relative;
  opacity: 10%;
}
main #reports .report:nth-child(3) .avatar {
  position: absolute;
  top: 100%;
  left: 0%;
  left: 50%;
  text-align: center;
}
main #reports .report p {
  width: 650px;
  margin: auto auto;
  color: rgb(249, 249, 249);
  font-family: "Raleway";
  opacity: 70%;
  text-align: center;
}
main #reports .report h4 {
  font-family: "Montserrat";
  font-size: 20px;
  color: rgb(249, 249, 249);
}
main #reports .report span {
  color: rgb(249, 249, 249);
  font-family: "Raleway";
}
main #reports .report #right {
  position: absolute;
  right: 20px;
}
main #gallery {
  width: 100%;
  background-color: rgb(92, 92, 92);
  height: max-content;
  position: relative;
  padding-bottom: 30px;
}
main #gallery h2 {
  color: rgb(249, 249, 249);
  font-size: 34px;
  font-family: "Montserrat";
  position: relative;
  text-align: center;
  margin-top: 140px;
}
main #gallery .bg {
  padding-top: 30px;
  width: 100%;
  height: 400px;
  background: linear-gradient(rgba(252, 82, 82, 0.5), rgba(252, 82, 82, 0));
  position: absolute;
  opacity: 40%;
  text-align: center;
}
main #gallery .bg img {
  text-align: center;
  width: 300px;
}
main #gallery .gallery-container {
  display: flex;
  gap: 30px;
  padding-top: 32px;
  margin-left: -25px;
  position: relative;
}
main #gallery .gallery-container #left {
  position: absolute;
  left: 7%;
  top: 30%;
  z-index: 1000;
  background-color: rgb(249, 249, 249);
  padding: 12px;
  border-radius: 50%;
}
main #gallery .gallery-container #left:hover {
  cursor: pointer;
}
main #gallery .gallery-container #right {
  position: absolute;
  top: 30%;
  right: 16%;
  z-index: 1000;
  background-color: rgb(249, 249, 249);
  padding: 12px;
  border-radius: 50%;
}
main #gallery .gallery-container #right:hover {
  cursor: pointer;
}
main #gallery .gallery-container .metric-container {
  width: max-content;
  height: max-content;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 0;
}
main #gallery .gallery-container .metric-container:nth-child(3) {
  width: 357px;
  opacity: 50%;
}
main #gallery .gallery-container .metric-container:nth-child(7) {
  opacity: 50%;
}
main #gallery .gallery-container .metric-container .photo {
  width: 370px;
  height: 370px;
  text-align: start;
  display: flex;
  justify-self: start;
}
main #gallery .gallery-container .metric-container .metrics {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-top: 12px;
}
main #gallery .gallery-container .metric-container .metrics span {
  width: max-content;
  margin-top: 0;
}
main #gallery .gallery-container .metric-container .metrics img:hover {
  cursor: pointer;
}
main #gallery .gallery-container .metric-container p, main #gallery .gallery-container .metric-container span {
  width: 360px;
  font-family: "Raleway";
  margin-top: 12px;
  color: rgb(249, 249, 249);
  line-height: 24px;
  font-size: 16px;
}
main #contact {
  width: 100%;
}
main #contact .contact-container {
  width: 100%;
  display: flex;
}
main #contact .contact-container .column1 {
  padding-top: 120px;
  padding-left: 80px;
  width: 845px;
  height: 662px;
  background-color: rgb(34, 34, 34);
  position: relative;
}
main #contact .contact-container .column1 h2 {
  font-family: "Montserrat";
  font-size: 34px;
  margin-bottom: 126px;
  color: rgb(249, 249, 249);
}
main #contact .contact-container .column1 #shape {
  position: absolute;
  right: 0;
  bottom: 0;
}
main #contact .contact-container .column1 div {
  color: rgb(249, 249, 249);
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 42px;
  font-family: "Montserrat";
  font-weight: 600;
}
main #contact .contact-container .column2 {
  background-color: rgb(92, 92, 92);
  width: 100%;
  padding-top: 139px;
  padding-left: 130px;
  position: relative;
}
main #contact .contact-container .column2 form {
  width: max-content;
}
main #contact .contact-container .column2 h3 {
  margin-bottom: 90px;
  font-family: "Montserrat";
  font-size: 24px;
  color: rgb(34, 34, 34);
}
main #contact .contact-container .column2 input {
  width: 570px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgb(224, 224, 224);
  padding: 8px;
  margin-top: 8;
  margin-bottom: 30px;
  color: rgb(249, 249, 249);
}
main #contact .contact-container .column2 input:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid rgb(192, 0, 150);
}
main #contact .contact-container .column2 label {
  display: block;
  font-family: "Raleway";
  color: rgb(249, 249, 249);
  font-size: 12px;
  font-weight: 600;
}
main #contact .contact-container .column2 button {
  display: block;
  margin-top: 40px;
  width: 100%;
  height: 56px;
  background-color: rgb(246, 67, 72);
  border-radius: 8px;
  color: rgb(249, 249, 249);
  font-family: "Montserrat";
  font-size: 1rem;
  font-weight: 600;
  border: none;
}
main #contact .contact-container .column2 #shape2 {
  position: absolute;
  right: 18%;
  bottom: 0;
}
main footer {
  display: flex;
  align-items: center;
  background-color: rgb(34, 34, 34);
  width: 100%;
  height: 91px;
  justify-content: space-around;
}
main footer span {
  margin-left: 64px;
  opacity: 30%;
  color: rgb(249, 249, 249);
  font-size: 12px;
  font-family: "Raleway";
}
main footer div:nth-child(1) {
  margin-left: -580px;
}
main footer div:nth-child(1) img:hover {
  cursor: pointer;
}
main footer div:nth-child(2) {
  display: flex;
  gap: 30px;
  margin-left: -1000px;
}
main footer div:nth-child(2) img:hover {
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
