@mixin progress($content,$position,$width,$height,$bg-color,$bd-radius){
content: $content;
position: $position;
width: $width;
height: $height;
background-color: $bg-color;
border-radius: $bd-radius;
}

@mixin text-config($font-family,$font-size,$display){
font-family: $font-family;
font-size: $font-size;
display: $display;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

@font-face {
  font-family: 'Banks';
  src: url('../../../../Assets/Font/Banks&MilesSingleLine.ttf');
}


body{
  font-family: 'Banks';
  width: 100%;
  height: 100vh;
}

header{
background-color: $header-bg;
height: max-content;
#main{
    display: flex;
    gap: 1.5rem;
    align-items: center;
    padding: 0.625rem;
    justify-content: end;
    margin-right: 3.125rem;
    li{
      list-style: none;
      background-color: $li-bg;
      width: max-content;
      display: grid;
      place-items: center;
      padding: 0.75rem;
      border-radius: 50%;
      cursor: pointer;
      & img{
        width: 2.5rem;
        height: 2.5rem;
        object-fit: cover;
      }
    }
    .avatar{
      width: 4.375rem; 
      height: 4.375rem;
      position: relative;
      display: grid;
      place-items: center;
      
      p{
       a{
         position: absolute;
         left: 14%;
         bottom: -48%;
         text-decoration: none;
         color: $color-text;
         cursor: pointer;
         &:hover{
           text-decoration: underline;
         }
       }
      }
      
      input[type='file']{
       display: none;
      }
     
       label[for='avatarInput']{
         font-size: 0.75rem;
         width: 3.75rem;
         text-align: center;
         margin: auto auto;
         cursor: pointer;
         position: absolute;
       }
     
       #avatar{
         position: absolute;
         width: 5.625rem;
         height: 5.625rem;
         border-radius: 50%;
         margin-top: 0;
         margin-left: 0;
       }
     }
}
      #second{
        display: none;
        flex-direction: column-reverse;
        background-color: $bg-after-progress;
        padding: 12px;
        align-items: center;

        li{
          background-color: transparent;
          a{
            color: $color-text; 
            text-decoration: none;
             &:hover{
             text-decoration: underline;
             color: $bg-circle-progress;  
             }
           }
        }
        .avatar{
          width: 4.375rem; 
          height: 4.375rem;
          position: relative;
          display: grid;
          place-items: center;
          margin-bottom: 12px;
          border-radius: 8px;
          p{
           a{
             position: absolute;
             left: 14%;
             bottom: -48%;
             text-decoration: none;
             color: $color-text;
             cursor: pointer;
             &:hover{
               text-decoration: underline;
             }
           }
          }
          
          input[type=file]{
           display: none;
          }
         
           label[for='avatarInput']{
             font-size: 0.75rem;
             width: 3.75rem;
             text-align: center;
             margin: auto auto;
             cursor: pointer;
             position: absolute;
           }
         
           #avatar{
             position: absolute;
             width: 5.625rem;
             height: 5.625rem;
             border-radius: 50%;
             margin-top: 0;
             margin-left: 0;
           }
         }
      }
    }

  h1{
  text-align: center;
  margin:auto;
  font-size: 4rem;
  width: 15.625rem;
  color: $color-text;
  padding-bottom: 1.5rem;
  }



main{
  background-color: $main-bg;
  padding: 1.25rem;

  #card1,
  #card2,
  #card3,
  #card4{
    background-color: $form-bg;
    width: 600px;
    height: 600px;
    display: none;
    place-items: center;
    border-radius: 12px;
    position: absolute;
    transform: translateX(70%);
    transform: translate(100%,50%);
    z-index: 1000;

    

    label{
    color: $color-text;
    display: block;
    }

    input[type=text]{
      display: block;
      width: 18.75rem;
      height: 2.5rem;
      padding: 0.75rem;
      border-radius: 0.5rem;
      border: 0.125rem solid $border-input;
      margin-bottom: 1.25rem;
      transition: .4s;
       &:focus{
         background-color: $secondary-color;
         outline: 0.125rem solid $secondary-color;
         border-color: $secondary-color;
         color: $color-text;
       }
    }
    button{
      display: block;
      color: $dark-green ;
      background-color: $color-text;
      width: 7.5rem;
      height: 2rem;
      border-radius: 0.5rem ;
      border: 0.125rem solid $border-button;
      cursor: pointer;
      font-weight: 500;
      text-transform: uppercase;
      margin: auto auto;
      margin-bottom: 2.5rem;
      transition: .7s;
      margin-top: 1.5rem;
        &:hover{
          background-color: $dark-green;
          color: $color-text;
          border-color: $primary-color;
        }
    }
    .models{
      display: flex;
      gap: 12px;
      list-style: none;
      margin: 0;
      padding: 0;
      &:after {
        content: "";
        clear: both;
      }
      
      .radio {
        border: 1px solid #ccc;
        box-sizing: border-box;
        border-radius: 8px;
        float: left;
        height: 70px;
        position: relative;
        width: 96px;
        margin-left: 12px;
        margin-top: 12px;
        margin-bottom: 12px;
        &+&{
          margin-left: 25px;
        }

        label{
          background: #fff no-repeat center center;
          border-radius: 8px;
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          width: 100%;
          height: 100%;
          white-space: nowrap;
          span{
            z-index: 1000;
          }
          img{
            z-index: 500;
            width: 100%;
            height: 100px;
            position: absolute;
          }
          input[type=radio] {
            all: unset;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0; 
        }
        input[type=radio]:checked + span{
          color: $form-bg;
          font-weight: bold;
        }
        }
      }
      }
    }

  
  .score{
    .circular-progress{
      position: relative;
      height: 15.625rem;
      width: 15.625rem;
      background-color: $bg-circle-progress;
      border-radius: 50%;
      display: grid;
      place-items: center;
      margin: auto auto;
      &::before{
        @include progress('',absolute,84%,84%,$li-bg,50%)
      }
    }
    
    .value-container{
      position: relative;
      font-size: 1.5rem;
      width: 6.25rem;
      text-align: center;
    }
  }
  
  h2{
    text-align: center;
    color: $color-text;
    margin-bottom: 0.75rem;
  }
  
  #budget{
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-bottom: 1.75rem;
    font-weight: bold;
    font-size: 1.5rem;
  }

  .title{
  @include text-config('Banks',1.5rem,block); 
  color: $color-text;
  }
}



.container-balance{
margin-top: 2.5rem;
margin-bottom: 1.5rem;
  
  .title{
    @include text-config('Banks',1.5rem,block);
    color: $color-text;
  }
  .balance{
    @include text-config('Banks',2rem,block);
  }
}

.container-cards{
display: flex;
align-items: center;
gap: 1.5rem;
margin-bottom: 2.5rem;

  
  .container-card{
      border: 2px solid $header-bg;
      border-style: dashed;
      width: 300px;
      height: 300px;
      display: grid;
      place-items: center;

      &.active{
        border: none;
        width: max-content;
        height: max-content;
        display: unset;
      }

      button{
        padding: 8px 24px;
        cursor: pointer;
        text-transform: uppercase;
        font-family: 'Banks';
        background-color: $header-bg;
        color : $color-text;
        border-radius: 8px;
        border: transparent;
        transition: .3s;
        &:hover{
          scale: 1.2;
        }
      }


    .title{
      @include text-config('Banks',1.5rem,block);
      color: $color-text;
      margin-top: -3rem;
    }
    
    .balance{
      @include text-config('Banks',2rem,block)
    }

    img{
    width: 18.75rem;
    }
  }
 
}

.container-operations{
margin-bottom: 2.5rem;
  
  .title2{
    @include text-config('Banks',24px,block);
    color: $color-text;
  }

  .value{
    @include text-config('Banks',2rem,block);
  }

  .progress-bar{
    width: 37.5rem;
    height: 1.25rem;
    background-color: $color-text;
    border-radius: 0.25rem;
    position: relative;
    margin-top: 0.5rem;
    
    &::after{
    @include progress('',absolute,480px,1.25rem,$bg-after-progress,0.25rem)
    }
    }
    
    .msg{
      img{
        width: 0.75rem;
      }
    }   
}

.container-investiments{
display: flex;
flex-direction: row;
gap: 1.25rem;
  .investiment{
    width:12.5rem;
    position: relative;
    .progress{
      width: 100%;
      height: 1.25rem;
      background-color: $color-text;
      border-radius: 0.25rem;
      position: relative;
      &::after{
      @include progress('',absolute,3.75rem,1.25rem,$li-bg,0.25rem)  
      }
    }
    .valueInActions{
      right: 0;
      position: absolute
    }
    span{
      color: $color-text;
    }
  }
}

@media(max-width:500px){
header{
  #main{
    display: none;
  }
  #second{
    display: flex;
    gap: 12px;
    

    &.desativo{
      height: 60px;
      li{
        display: none;
      }
      .avatar{
        display: none;
      }
    }
    &.ativo{
      height: max-content;
      li{
        display: block;
      }
      .avatar{
        display: block;
        margin-top: 16px;
      }
    }

    .avatar{
      width: 4.375rem; 
      height: 4.375rem;
      position: relative;
      display: grid;
      place-items: center;

      p{
       a{
        position: absolute;
        left: 250%;
        bottom: 32%;
        text-decoration: none;
        color: $color-text;
        cursor: pointer;
         &:hover{
           text-decoration: underline;
         }
       }
      }
      
      input[type='file']{
       display: none;
      }
     
       label[for='avatarInput']{
        font-size: 0.75rem;
        width: 2.625rem;
        text-align: center;
        margin: 18px auto;
        cursor: pointer;
        position: absolute;
        color: transparent;
        left: -250%;
        top: -15%;
       }
     
       #avatar{
        position: absolute;
        width: 2.625rem;
        height: 2.625rem;
        border-radius: 50%;
        margin-top: 12px;
        margin-left: 0;
        left:-250%
       }
       }
       
       .hamburger-menu{
      
        #iconMenu{
          position: absolute;
          top: -1%;
          right: 3%;
          padding: 12px;
          cursor: pointer;
        }
      }
  }
}
}












