*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Banks';
  src: url('../../../../Assets/Font/Banks&MilesSingleLine.ttf');
}

body{
  font-family: 'Banks';
}

header{
  background-color: $header-bg;
  height: 200px;
  nav{
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    ul{ 
      display: flex; 
      gap: 20px; 
      align-items: center; 
      padding: 10px; 
      justify-content: end;  
      margin-right: 50px;
      li{
        list-style: none;
        background-color: $li-bg;
        width: max-content;
        display: grid;
        place-items: center;
        padding: 12px;
        border-radius: 50%;
        cursor: pointer;
        a{
          text-decoration: none;
          color: $label-color;
          cursor: pointer;
          &:hover{
            text-decoration: underline;
          }
        }
        li img{
          width: 40px;
          height: 40px;
          object-fit: cover;
        }
}
    }
  }
}

.avatar{
  width: 70px; 
  height: 70px;
  position: relative;
  display: grid;
  place-items: center;
    p{
      a{
        position: absolute;
        left: 14%;
        bottom: -48%;
      }
    }
    input[type='file']{
      display: none;
    }
    
    label[for='avatarInput']{
      font-size: 12px;
      width: 60px;
      text-align: center;
      margin: auto auto;
      cursor: pointer;
      position: absolute;
    }
    
    #avatar{
      position: absolute;
      width: 90px;
      height: 90px;
      border-radius: 50%;
      margin-top: 0px;
      margin-left: 0px;
    }
 }

.inputs{
  display: block;
  width: 300px;
  height: 40px;
  padding: 12px;
  border-radius: 8px;
  border: 2px solid $header-bg;
  margin-bottom: 20px;
  transition: .4s;
}

main{
  background-color: $main-bg;
  padding: 20px;
  height: 100%;
}

.operacao{
  display: grid;
  grid-template-columns: repeat(3,100px);
  background-color: $label-color;
  margin-bottom: 12px;
  border-radius: 4px;
  padding: 6px;
  align-items: center;
  width: 100%;
  position: relative;
  overflow: hidden;
  &.desativo{
    height: 40px;
  }
  &.ativo{
  height: max-content;
  }
  .icon{
    position: absolute;
    top: 12px;
    right: 12px;
    cursor: pointer;
  }
  .balance{
    display: flex;
    align-items: end;
    gap: 4px;
    grid-row: 2;
    grid-column: 1/-1;
    #balance{
      margin-left: -2px;
    }
  }
  h2{
    grid-row: 1;
    grid-column: 1/-1;
  }  
}

.credit{
  color: $sucess-color;
}
.debit{
  color: $warning-color;
}
.value{
  text-align: center;
}

form{
  width: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  input[type='text']{
    @extend .inputs;
    &:focus{
      background-color: $focus-bg;
      outline: 2px solid $input-color;
      border-color: $input-color;
      color: $label-color  
    }
  }
  button{
    @extend .inputs;
    color: $button-seconday-color ;
    background-color: $label-color;
    text-transform: uppercase;
    &:hover{
      background-color: $button-seconday-color;
      color: $label-color;
      border-color: $input-color; 
      cursor: pointer; 
    }
  } 
  label{
    color: $label-color ;
  }
}


