*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Banks';
  src: url('../../../../Assets/Font/Banks&MilesSingleLine.ttf');
}

body{
  font-family: 'Banks';
}

header{
  background-color: $header-bg;
  height: 12.5rem;
  nav{
    padding: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    ul{ 
      display: flex; 
      gap: 1.25rem; 
      align-items: center; 
      padding: 0.625rem; 
      justify-content: end;  
      margin-right: 3.125rem;
      li{
        list-style: none;
        background-color: $li-bg;
        width: max-content;
        display: grid;
        place-items: center;
        padding: 0.75rem;
        border-radius: 50%;
        cursor: pointer;
        & img{
          width: 2.5rem;
          height: 2.5rem;
          object-fit: cover;
        }
      }
    }
  }
}

.avatar{
  width: 4.375rem; 
  height: 4.375rem;
  position: relative;
  display: grid;
  place-items: center;
    p{
      a{
        position: absolute;
        left: 14%;
        bottom: -48%;
        text-decoration: none;
        color: $label-color;
        cursor: pointer;
        &:hover{
          text-decoration: underline;
        }
      }
    }
    input[type='file']{
      display: none;
    }
    
    label[for='avatarInput']{
      font-size: 0.75rem;
      width: 3.75rem;
      text-align: center;
      margin: auto auto;
      cursor: pointer;
      position: absolute;
    }
    
    #avatar{
      position: absolute;
      width: 5.625rem;
      height: 5.625rem;
      border-radius: 50%;
      margin-top: 0;
      margin-left: 0;
    }
 }

.inputs{
  display: block;
  width: 18.75rem;
  height: 2.5rem;
  padding: 0.75rem;
  border-radius: 0.5rem;
  border: 0.125rem solid $header-bg;
  margin-bottom: 1.25rem;
  transition: .4s;
}

main{
  background-color: $main-bg;
  padding: 1.25rem;
  height: 100vh;
}

.operacao{
  display: grid;
  grid-template-columns: repeat(3,6.25rem);
  background-color: $label-color;
  margin-bottom: 0.75rem;
  border-radius: 0.25rem;
  padding:0.375rem;
  align-items: center;
  width: 100%;
  position: relative;
  overflow: hidden;
  &.desativo{
    height: 2.5rem;
  }
  &.ativo{
  height: max-content;
  }
  .icon{
    position: absolute;
    top: 0.75rem;
    right: 0.75rem;
    cursor: pointer;
  }
  .balance{
    display: flex;
    align-items: end;
    gap: 0.25rem;
    grid-row: 2;
    grid-column: 1/-1;
    #balance{
      margin-left: -0.125rem;
    }
  }
  h2{
    grid-row: 1;
    grid-column: 1/-1;
  }  
}

.credit{
  color: $sucess-color;
}
.debit{
  color: $warning-color;
}
.value{
  text-align: center;
}

form{
  width: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  input[type='text']{
    @extend .inputs;
    &:focus{
      background-color: $focus-bg;
      outline: 0.125rem solid $input-color;
      border-color: $input-color;
      color: $label-color  
    }
  }
  button{
    @extend .inputs;
    color: $button-seconday-color ;
    background-color: $label-color;
    text-transform: uppercase;
    &:hover{
      background-color: $button-seconday-color;
      color: $label-color;
      border-color: $input-color; 
      cursor: pointer; 
    }
  } 
  label{
    color: $label-color ;
  }
}


